.footer {
  background-color: #232c3b;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  bottom: 0;
  position:fixed;
}

.copyright {
  min-height: 40px;
  background-color: #141d29;
    bottom: 0;
	position:fixed;
	left:0;
	width:100%;
	text-align:center;
}

.copyright p {
  text-align: center;
  color: white;
  padding: 10px 0;
  margin-bottom: 0px;
}

