/*-----Background-----*/

body{
	 background-image:url(https://www.fastweb.com/uploads/article_photo/photo/2161/crop380w_istock_000002193842xsmall-books.jpg);
	 background-repeat:no-repeat;
	 background-size:cover;
	 width:100%;
	 height:100vh;
	 overflow:auto;
	 
}


.heading{
	 text-decoration:bold;
	 text-align : center;
	 font-size:30px;
	 color:#F96;
	 padding-top:10px;
}

.pass{
	 color: white;
     font-size: 14px;
     font-family: sans-serif;
     margin-left: 6px;
     margin-top: 9px;
}
#password{
 margin-top: 6px;
}

.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
	background:#5900a6;
	color:#fff;
	transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;	
}
.header{
	text-decoration:bold;
	 text-align : center;
	 font-size:50px;
	 color:	#FFA07A;
	 padding-top:10px;
	 font-family:Times New Roman Georgia;
	 padding-right:20%;
	 
}	 

.menu{
	text-decoration:bold;
	 float:right;
	 font-size:50px;
	 color:#F96;
	 padding-top:10px;
	 font-family:Times New Roman Georgia; 
}

.nav{
	text-decoration:bold;
	 font-size:20px;
	 color:#ffff;
	 padding-top:15px;
	 font-family:Times New Roman Georgia;
}

.footer {
  background-color: #232c3b;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 30px;
  bottom: 0;
}



	  